- name: Check for versions for each package
  block:
    - name: Simple test from Red Hat to see if machine needs updating
      # https://access.redhat.com/solutions/7003091
      ansible.builtin.command:
        cmd: rpm -q {{ item.split('-')[:-2] | join('-') }}
      changed_when: false
      register: package_full_name

    - name: Fail if tzdata(-java) version is too low, repair below
      ansible.builtin.assert:
        that: package_full_name.stdout.split('-')[-2] >= '2022g'

  # If unsuccessful, try putting the updated packages manually
  rescue:
    - name: Download tzdata package(s)
      ansible.builtin.get_url:
        url: "{{ package_repository }}/{{ item }}"
        dest: ./
        mode: '0644'
      delegate_to: localhost

    - name: Push the static package to the managed node
      ansible.builtin.copy:
        src: ./{{ item }}
        dest: .
        mode: '0644'

    - name: Install the actual packages from file
      # yum module would be ideal, but some versions of RHEL7 will install by name even with the path to the RPM
      ansible.builtin.command:
        cmd: rpm -i --quiet ./{{ item }}
      register: _
      changed_when: ('already' not in _.stdout)
      failed_when: false
            

